name: ci
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Java
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build
      run: |
        ./gradlew build